h1 {
    color: red
    font-family: 'Kalam', cursive;
    font-family: 'Kalam', cursive;
}
.navbar-dark .navbar-brand {
    color: aqua
}

.jumbotron {
    background-image: url(Cat03.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

h1.display-4 {
    padding: 60px;
    text-align: center;

}